<section class="section products-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img src="assets/images/adsv.png" alt="presentation" class="img-fluid w-100">
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="widget-featured-entries mt-5 mt-lg-0">
                    <h4 class="mb-4 pb-3">Au quotidien</h4>
                    <p>Bonjour à tous, <br><br>
                        Je m'appelle Charles Fonquernie, diplomé d'un master de Chimie et Biologie de l'Université de
                        Strasbourg. <br> <br>
                        Je suis parti habiter dans le sud de la France car j'y ai trouvé soleil et montagne ! <br> <br>
                        Je n'ai pas de voiture et effectue tous mes trajets quotidiens à vélo. Ça renforce les cuissots. <br> <br>
                        Vous l'aurez compris, les activités outdoors font partie de mon quotidien 
                        et rien ne vaut une bonne randonnée itinérante pour se détendre et renouer avec la nature. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="widget-featured-entries mt-5 mt-lg-0">
                    <h4 class="mb-4 pb-3">Informatique</h4>
                    <p> <br> <br> 
                        Ma carrière dans le domaine débute suite à une reconversion COBOL en 2018. <br> <br>
                        Cela m'a permis de décrocher un CDI dans une SSII. <br> <br>
                        Après plusieurs années d'exercice et une brève parenthèse dans une startup, 
                        j'ai pu emmagasiner suffisamment d'expérience afin de me lancer comme indépendant. 
                        Et enfin, je peu suivre un rythme de travail efficace et adapté à mon dynamisme ! 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>