<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Panier</h1>
          Gardez bien à l'esprit que tout achat effectué sur ce site constitue en réalité un don pour notre agence. En
          effet, les articles proposés sont des exemples de ce qui pourra être réalisé grâce à votre aide.
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/shop">Retour au shop</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cart shopping page-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="product-list">
          <form class="cart-form" #coupon="ngForm" (ngSubmit)="onSubmitForm(coupon)">
            <table class="table shop_table shop_table_responsive cart" cellspacing="0">
              <thead>
                <tr>
                  <th class="product-thumbnail"> </th>
                  <th class="product-name">Produit</th>
                  <th class="product-price">Prix unitaire</th>
                  <th class="product-quantity">Quantité</th>
                  <th class="product-subtotal">Total</th>
                  <th class="product-remove"> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <div class="text-center">{{empty}}</div>
                </tr>
                <tr class="cart_item">
                <tr class="cart_item" *ngFor="let item of items">
                  <td class="product-thumbnail" data-title="Photo">
                    <a routerLink="/product-single/{{item.productId}}" (click)="stockRecentItem(item)"><img
                        [src]="item.imageURL" [alt]="item.titre"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"></a>
                  </td>
                  <td class="product-name" data-title="">
                    <a routerLink="/product-single/{{item.productId}}" style="color:#424bfb;">{{ item.titre }}</a>
                  </td>
                  <td class="product-price">
                    <span class="amount"><span class="currencySymbol">
                        <!-- <pre wp-pre-tag-3=""></pre> -->
                      </span>{{ item.prixap | number}} €</span>
                  </td>
                  <td class="product-quantity" data-title="Quantité">
                    <div class="quantity">
                      <input type="number" id="qty" class="input-text qty text" step="1" min="0" max="9"
                        [(ngModel)]="item.quantity" title="Qty" size="4" (click)="changeQuantity(item, item.quantity)"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                  </td>
                  <td class="product-subtotal">
                    <span class="amount">
                      <span class="currencySymbol">
                        <pre wp-pre-tag-3=""></pre>
                      </span>{{ item.prixap * item.quantity | number}} €</span>
                  </td>
                  <td class="product-remove" data-title="Remove">
                    <span (click)="removeProductFromCart(item)" style="cursor:pointer; color:blue">X</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="6" class="actions">
                      <div class="coupon">
                        <input type="text" name="code" class="input-text form-control" id="code" value=""
                          placeholder="Code" [(ngModel)]="code">
                        <button type="button" class="btn btn-black btn-small" name="apply_coupon" value="Apply coupon"
                          type="submit">Utiliser mon code de réduction !</button>
                      </div>
                    <!-- <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="27da9ce3e8">
                    <input type="hidden" name="_wp_http_referer" value="/cart/"> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-lg-4" *ngIf="defined">
        <div class="cart-info card p-4 mt-4">
          <button type="button" class="btn btn-black btn-small" name="discared" value="discared"
            (click)="discardCart()">Vider mon panier</button>
        </div>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4" *ngIf="defined">
        <div class="cart-info card p-4 mt-4">
          <h4 class="mb-4">Total des {{ restoredSession.itemsTotal }} articles</h4>
          <ul class="list-unstyled mb-4">
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Total :</h5>
              <span>{{ restoredSession.grossTotal | number}} €</span>
            </li>
            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Frais de livraison :</h5>
              <span>{{ restoredSession.deliveryTotal }}</span>
            </li>

            <li class="d-flex justify-content-between pb-2 mb-3">
              <h5>Total de mon panier :</h5>
              <span>{{ restoredSession.checkOut | number }} €</span>
            </li>
          </ul>
          <a (click)="checkOUT()" class="btn btn-main btn-small">Passer à la caisse</a>
        </div>
      </div>
    </div>
  </div>
</section>